<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
<h1>My Son's Farm Has a Shark	</h1>

<div class="chicken"></div>


<div class="pig"></div>
<div class="dog"></div>
<!-- <div class="crackhead"></div> -->
<div class="cow"></div>
<div class="shark">

</div>


<audio class="audio"></audio>










		<script src="../Javascript/main.js"></script>
	</body>
</html>
